@font-face {
    font-family: "Objective";
    src: url(../fonts/Objective-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Objective";
    src: url(../fonts/Objective-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "Objective";
    src: url(../fonts/Objective-Bold.woff2);
    font-weight: 700;
}