html {
    overflow-x: hidden;
}

body {
    font-family: "Objective";
    overflow-x: hidden;
}

$main-color: #4A99D3;

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.content__inner {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.link-image {
    position: absolute;
    height: 30px;
    left: 17px;
    top: 16px;
}

.link {
    color: #fff;

    div {
        position: relative;
        min-width: 185px;
        padding: 13px 20px 13px 50px;
        background-color: $main-color;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
        border-radius: 5px;
        margin: 0 5px 10px 0;

        span {
            font-size: 10px;
        }

        transition: opacity .2s ease,
        transform .2s ease;

        &:hover {
            opacity: 0.9;
            transform: scale(1.05);
        }
    }
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}